    .title{
        max-width: 1210px;
        height: 70px;
    }
    .circle{
        width: 61px;
        height: 10px;
        position: absolute;
        bottom: 5px;
        left: 48%;
    }
    .circle li{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: gray;
        float: left;
        margin-right: 10px;
        cursor: pointer;
    }
    .steps{
        width: 100%;
        position: relative;
    }
    .steps_cont{
        margin: 3vw 0;
        padding: 0 8vw;
        display: flex;
        height: 34vw;
        background: url(../img/stepsBG.png) no-repeat 0 5vw;
    }
    .steps .steps_r img{
        width: 100%;
        position: relative;
    }
    .steps .steps_cont .button{
        width: 100%;
        height: 2vw;
        background: url(https://static.didapinche.com/pics//g/shunfengche/phoneSliderBtn.png) no-repeat center;
        background-size: contain;
        position: absolute;
        left: -30%;
        top: 50%;
        transform: translateY(-50%);
    }
    .steps .steps_cont .leftFn{
        float: left;
        height: 100px;
        width: 50%;
    }
    .steps .steps_cont .rightFn{
        float: left;
        height: 100px;
        width: 50%;
    }
    .steps .steps_cont .steps_cont_r{
        width: calc(23 / 78 * 100%);
        height: 100%;
        background: url(../img/phoneSliderBg.png) no-repeat center;
        background-size: contain;
        position: relative;
    }
    .steps .steps_cont ul{
        position: absolute;
        left: 21%;
        top: 56%;
        transform: translate(-53%,-50%);
        width: 15vw;
    }
    .steps .steps_cont ul li{
        display: none;
    }
    .steps .steps_cont ul img{
        width: 100%;
    }
    .steps .steps_cont ol{
        width: calc(55 / 78 * 100%);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .steps .steps_cont ol li{
        width: 46vw;
        height: 15vw;
        background: url(../img/phoneSliderText01.png) no-repeat;
        background-size: 30%;
        background-position: left bottom;
    }
    .steps .steps_cont ol li h3{
        color: #39393e;
        font-size: 3vw;
        font-weight: bold;
    }
    .steps .steps_cont ol li p{
        color:#aaaaaa;
        font-size: 1.5vw;
    }
    .foot{
        background: #f7f7f7;
        width: 100%;
        padding: 14px 0;
        margin-top: 15px;
        height: auto;
        overflow: hidden;
    }
    .foot .foot_l{
        border-right: 1px solid orange;
        width: 50%;
        float: left;
        margin: 0 auto;
        text-align: center;
    }