*{
    margin: 0;
    padding: 0;
}
#head{
    width: 100%;
    height: 70px;
    background-color: pink;
}
#neirong{
    width: 1140px;
    height: 70px;
    border: 1px solid red;
    margin: 0 auto;
}
#pic1{
    width: 204px;
    height: 70px;
    float: left;
}
#neirong ul{
    float: left;
    list-style: none;
    width: 577px;
    border: 1px solid red;
    margin-left: 200px;
    font-size: 13px;
}
#neirong ul li{
    float: left;
    padding: 16px;
}
#neirong ul li a{
    text-decoration: none;
    color: #555;
}